.Cart {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 10px;
    background-color: #bfc3cc;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.Sub {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #c58190;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.15em;
    display: block;
    margin: 10px 5px;
    padding: 20px;
  }
  
  .Sub2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #c58190;
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 10px 5px;
    padding: 20px;
  }
  
  .Text{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .Button{
    background-color: #bfc3cc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
    margin: 3px;
    padding: 4px 25px 4px 25px;
    width: 20%;
    height: auto;
    
    }
    
    .Button:hover, .ButtonCart:hover {
    transition: all 0.2s;
    background-color: #c58190;
    }
   
    .ButtonCart{  background-color: #bfc3cc;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-weight: bolder;
      letter-spacing: 1px;
      font-size: 16px;
      border-radius: 5px;
      margin: 3px;
      padding: 4px 25px 4px 25px;
      height: auto;
      
      }
      
