.ContainerItem {
    width: 700px;
    height: 300px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: #bfc3cc;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.titulo {
    font-size: 40px;
    margin-right: 50px;
    display: inline;
}

.Info {
    display: block;
}

.imagen{
    width: 260px;
    height: auto;
    display: block;
    float: left;
    margin-top: 10px;
}

.footer{
    display: block;
}
