
.ContainerItem {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
  width: 280px;
  height: auto;
  background-color: #bfc3cc;
  border-radius: 5px; 
  position: absolute;

  }
  

  
.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}


.ItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

