.ContainerItem {
    width: 700px;
    height: 300px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: #bfc3cc;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.Title{
    font-size: 40px;
    margin-right: 50px;
    display: inline;
}

.Info {
    display: block;
}

.Image{
    width: 260px;
    height: auto;
    display: block;
    float: left;
    margin-top: 10px;
}

.Footer{
    display: block;
}

.Button{
    background-color: #bfc3cc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
    margin: 3px;
    padding: 4px 25px 4px 25px;
    width: 20%;
    height: auto;
    
    }
    
    .Button:hover {
    transition: all 0.2s;
    background-color: #c58190;
    }