.NavBar{
  background-color:#bfc3cc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon{
  height: auto;
  width: 200px;
}

.ActiveOption{
background-color: #bfc3cc;
border: none;
color: #5d2ae7;
text-align: center;
text-decoration: none;
font-family: "Montserrat", sans-serif;
font-weight: bolder;
font-size: 16px;
border-radius: 5px;
width: auto;
height: auto;
padding:  5px 30px 5px 30px;

}
.Option:hover {
transition: all 0.2s;
background-color: #c58190;
}




