nav{
    background-color:#bfc3cc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  button {
    background-color: #bfc3cc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
    margin: 3px;
    padding: 4px 25px 4px 25px;
    width: 20%;
    height: auto;
   
  }
  button:hover {
    transition: all 0.2s;
    background-color: #c58190;
  }
  
  .logo{
    width: 25%;
    margin-left: 13px;
  }
  
  .icon{
  width: 400px;
  padding: 10px;
  }
  
  .sub {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #c58190;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.15em;
  display: block;
  margin: 10px 5px;
  padding: 20px;
  
  }
  
  .btn, .Option {
  background-color: #bfc3cc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding:  5px 30px 5px 30px;
  
  }
  
  .ActiveOption{
  background-color: #bfc3cc;
  border: none;
  color: #5d2ae7;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding:  5px 30px 5px 30px;
  
  }
  .Option:hover {
  transition: all 0.2s;
  background-color: #c58190;
  }
  
  .container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
  }
  
  .text {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #c58190;
    margin: 20px;
  }
  
  .btn2 {
  background-color: #bfc3cc;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 5px;
  margin: 3px;
  padding: 4px 25px 4px 25px;
  width: 260px;
  height: auto;
  
  }
  .btn2:hover {
  transition: all 0.2s;
  background-color: #c58190;
  }
  
  .ListGroup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
  
  .ItemImg {
  margin: 10px;
  width: 260px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .CardItem {
  font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
  margin: 10px;
  width: 280px;
  height: auto;
  background-color: #bfc3cc;
  border-radius: 5px;
  }
  
  .ItemImg:hover {
  opacity: 80%;
  transform: scale(1.2);
  transition: transition all 1s ease;
  }
  